<div class='bread-crumb-links first-link'><%= link_to 'StepBack.com >', root_path %></div>
<div class='bread-crumb-links'><%= link_to "#{@item.category.title}>", category_path(@item.category) %></div>
<div class='bread-crumb-links last-link'><%= @item.title %></div>

<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <%= image_tag item_img(@item.image, 'main') %>
    </div>

    <div class='col-md-6'>
      <p>
        <strong>Description:</strong>
        <%= @item.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @item.price %>
      </p>
      <p>
        <%= link_to"BUY" %>
      </p>
      
      <% if logged_in?(:admin) %>
      <hr>
        <div><%= link_to 'Edit', edit_item_path(@item) %></div>
        <div><%= link_to 'New', new_item_path(@item) %></div>
        <div><%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
  </div>
</div>

