<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<div>
  <%= image_tag item_img(@item.image, 'main') %>
</div>

<p>
  <strong>category:</strong>
  <%= @item.category %>
</p>
<% if logged_in?(:admin) %>
  <div><%= link_to 'Edit', edit_item_path(@item) %></div>
  <div><%= link_to 'New', new_item_path(@item) %></div>
  <div><%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>


