<!-- <h1>Category#index</h1>
<%= link_to 'Login', new_user_session_path %>
<%= link_to link_to 'LogOut', destroy_user_session_path, method: :delete %>
<%= @categories.inspect %>

<hr>

<%= @items.inspect %>  -->
<div class='container page-title-container'>
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h3 class="card-title">StepBack.com</h3>
      <p class="card-text">Welcome to the home of all things basketball!</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class='container'>
  <div class="card-group">
    <a href='categories/1' class="card">
    <!-- pull last or first items image from category -->
      <%= image_tag @items.where('category_id = 1').last.image, :class => 'home-img-size' %>
      <div class="card-block">
        <h4 class="card-title">Shoes</h4>
      </div>
    </a>
    <a href='categories/2' class="card">
    <!-- pull last or first items image from category -->
      <%= image_tag @items.where('category_id = 2').last.image, :class => 'home-img-size' %>
      <div class="card-block">
        <h4 class="card-title">Balls</h4>
      </div>
    </a>
    <a href='categories/3' class="card">
    <!-- pull last or first items image from category -->
      <%= image_tag @items.where('category_id = 3').last.image, :class => 'home-img-size' %>
      <div class="card-block">
        <h4 class="card-title">Shorts</h4>
      </div>
    </a>
  </div>
</div>