<div class='bread-crumb-links first-link'><%= link_to 'StepBack.com >', root_path %></div>
<div class='bread-crumb-links last-link'><%= @category.title %></div>

<div class="album text-muted">
  <div class="container">
      <% if logged_in?(:admin) %>
        <div><%= link_to 'Create new Item', new_item_path(@item) %></div>
        <hr>
      <% end %>
      <%= paginate @items %>
      <br>
    <div class="row">
      <%= render partial: 'item', collection: @items %>
    </div>
      <%= paginate @items %>
  </div>
</div> 